
docker-compose.yml
/Dockerfile
# Compiled output
/my_portfolio/dist
/my_portfolio/tmp
/my_portfolio/out-tsc
/my_portfolio/bazel-out

# Node
/my_portfolio/node_modules
/API/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
/my_portfolio/.vscode/settings.json
/my_portfolio/.vscode/tasks.json
/my_portfolio/.vscode/launch.json
/my_portfolio/.vscode/extensions.json
.history/*

# Miscellaneous
/my_portfolio/.angular/cache
.sass-cache/
/my_portfolio/connect.lock
/my_portfolio/coverage
/my_portfolio/libpeerconnection.log
testem.log
/my_portfolio/typings

# System files
.DS_Store
Thumbs.db
/API/node_modules
/API/.dockerignore
.terraform/
.env
*#
*~
*.tfvars
*.tfstate
*.backup
*.hcl
tf_vm_plan
