<main class="main">
  <div class="content">
    <h1>Bienvenue sur mon Portfolio</h1>

    <div class="profile-section">
      <img src="assets/images/profilePicture.jpg" alt="Your Picture" class="profile-image">
      <h1>Développeur Full Stack & Ingénieur de données</h1>

      <h2>Formation :</h2>
      <p>Baccalauréat en Sciences Mathématiques : Le parcours académique a été initié avec un Baccalauréat en Sciences Mathématiques, offrant une solide base de logique, d'analyse et de résolution de problèmes.</p>
      <p>Licence Professionnelle en Génie Informatique : Par la suite, j'ai obtenu une Licence Professionnelle en Génie Informatique, combinant les compétences mathématiques avec une expertise technique en développement logiciel, architecture des ordinateurs et systèmes d'information.</p>

      <h2>Expérience Professionnelle :</h2>
      <p>Quatre ans en tant qu'Analyste Data Warehouse System & Management Information System : J'ai acquis une expérience significative en tant qu'analyste, travaillant sur des systèmes de gestion de l'information et des entrepôts de données. J'étais responsable de l'extraction, de la transformation et du chargement de données (ETL), ainsi que de la conception de bases de données pour optimiser la récupération des informations.</p>

      <h2>Formation Actuelle :</h2>
      <p>Master en cours à l'École d'Ingénieurs ETNA : Actuellement, je suis inscrit en Master dans une école d'ingénieurs renommée, l'ETNA. Cette formation me permet de perfectionner mes compétences en développement logiciel, en architectures applicatives avancées, ainsi qu'en gestion de projets informatiques.</p>

      <h2>Objectif Actuel :</h2>
      <p>Recherche d'une Entreprise pour une Alternance : Actuellement à la recherche d'une entreprise pour effectuer une alternance dans le cadre de mon cursus en Master. Je souhaite mettre en pratique mes connaissances théoriques acquises au cours de ma formation tout en contribuant au développement de projets concrets au sein d'une entreprise dynamique.</p>

      <h2>Compétences Clés :</h2>
      <ul>
        <li>Maîtrise des langages de programmation : Java, JavaScript, Python.</li>
        <li>Connaissance approfondie des bases de données relationnelles et des entrepôts de données.</li>
        <li>Compétences en développement full stack : expérience à la fois dans le développement front-end (HTML, CSS, JavaScript) et back-end (Node.js, Express).</li>
        <li>Capacité à analyser les besoins des utilisateurs et à traduire ces exigences en solutions informatiques efficaces.</li>
      </ul>

      <p>Mon parcours académique et professionnel diversifié, alliant les compétences mathématiques à une expertise en génie informatique et en gestion de l'information, constitue la base solide sur laquelle je souhaite continuer à évoluer. Mon objectif actuel est de trouver une opportunité d'alternance au sein d'une entreprise innovante où je pourrai mettre en pratique mes compétences tout en contribuant activement à des projets stimulants et en apprenant au contact d'une équipe expérimentée.</p>
    </div>
  </div>
</main>
