<header>
  <div class="logo">
    <span>MAMADOU DIAN DIALLO</span>
  </div>
  <nav>
    <ul>
      <li *ngIf="!isHomePage()"><a routerLink="/" routerLinkActive="active">Home</a></li>
      <li *ngIf="!isContactPage()"><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
      <li *ngIf="!isProjectsPage()"><a routerLink="/projects" routerLinkActive="active">Projects</a></li>
      <li *ngIf="!isServicesPage()"><a routerLink="/services" routerLinkActive="active">Services</a></li>
    </ul>
  </nav>
</header>

